{
	"extends": [
		"@postanu/eslint-config/astro"
	],
	"rules": {
		"perfectionist/sort-astro-attributes": [
			"error",
			{
				"type": "natural",
				"order": "asc",
				"groups": [
					"name",
					"title",
					"description",
					"multiline",
					"unknown",
					["shorthand", "astro-shorthand"]
				],
				"custom-groups": {
					"name": "name",
					"title": "title",
					"description": "description"
				}
			}
		]
	}
}
