@import './reset'
@import './fonts'

:root
	--p-body-font-size: 15px
	--p-body-font-weight: 440
	--p-body-line-height: 1.3334

	--p-color-black: #e5e5e5
	--p-color-muted: #666666
	--p-color-white: #000000
	--p-color-border: #414141
	--p-color-placeholder: #c9c9c9

	@media (max-width: 736px)
		--p-body-font-size: 14px
		--p-body-line-height: 1.4286

	@media (prefers-color-scheme: dark)
		--p-body-font-weight: 400

		--p-color-black: #000000
		--p-color-muted: #808080
		--p-color-white: #e5e5e5
		--p-color-border: #bababa
		--p-color-placeholder: #0e0f12

html
	padding: 10px

	font-family: 'Inter', -apple-system, 'Helvetica Neue', Helvetica, Arial, sans-serif
	font-size: var(--p-body-font-size)
	font-weight: var(--p-body-font-weight)
	line-height: var(--p-body-line-height)

	color: var(--p-color-white)

	text-underline-offset: 0.2rem
	text-transform: lowercase

	background: var(--p-color-black)

	color-scheme: light dark
	text-size-adjust: 100%

	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

main
	display: grid

a
	color: var(--p-color-white)
	text-decoration: none

a:hover
	color: var(--p-color-muted)

ul
	list-style: none

svg
	fill: currentColor

dd
	color: var(--p-color-muted)
	&:not(:last-child)
		margin-bottom: 20px

@import './grid'
