:root {
  --p-body-font-size: 16px;
  --p-body-font-weight: 440;
  --p-body-line-height: 1.25;
  --p-color-black: #ffffff;
  --p-color-muted: #6e6e6e;
  --p-color-white: #000000;
  --p-color-border: #414141;
  --p-color-placeholder: #c9c9c9;
  --p-color-background-hover: rgba(0 0 0 / 10%);
}

@media (width <= 736px) {
  :root {
    --p-body-font-size: 14px;
    --p-body-line-height: 1.4286;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --p-body-font-weight: 400;
    --p-color-black: #000000;
    --p-color-muted: #808080;
    --p-color-white: #e5e5e5;
    --p-color-border: #bababa;
    --p-color-placeholder: #0e0f12;
    --p-color-background-hover: rgba(255 255 255 / 7%);
  }
}

html {
  padding: 10px;
  font-family: Inter, -apple-system, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: var(--p-body-font-size);
  font-weight: var(--p-body-font-weight);
  font-optical-sizing: auto;
  line-height: var(--p-body-line-height);
  color: var(--p-color-white);
  text-transform: lowercase;
  text-underline-offset: 0.2rem;
  color-scheme: light dark;
  background: var(--p-color-black);
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (width <= 1024px) {
  html {
    padding: 10px 20px;
  }
}

main {
  display: grid;
}

a {
  color: var(--p-color-white);
  text-decoration: none;
}

a:hover {
  color: var(--p-color-muted);
}

ul {
  list-style: none;
}

svg {
  fill: currentcolor;
}

dd {
  color: var(--p-color-muted);
}

dd:not(:last-child) {
  margin-bottom: 20px;
}
