@font-face
	font-family: 'Inter'
	font-style: normal
	font-weight: 100 900
	src: url('../fonts/Inter-roman.var.woff2?v=3.19') format('woff2')
	font-display: swap
	// stylelint-disable stylus/property-no-unknown
	font-named-instance: 'Regular'
