.g
	display: grid
	grid-template-areas: "a b c d e f g h i j k l"
	grid-template-columns: repeat(12, 1fr)
	grid-auto-rows: 60px
	gap: 0 20px

	@media (max-width: 1800px)
		grid-template-areas: "a b d e f h i j k l"
		grid-template-columns: repeat(10, 1fr)

	@media (max-width: 1440px)
		grid-template-areas: "a b e h i j k l"
		grid-template-columns: repeat(8, 1fr)

	@media (max-width: 1024px)
		grid-template-areas: "e h i j k l"
		grid-template-columns: repeat(6, 1fr)

	@media (max-width: 736px)
		grid-template-areas: "a j j"
		grid-template-columns: repeat(3, 1fr)
		gap: 0

.g--c
	grid-template-rows: repeat(4, 60px) minmax(0px, auto) repeat(auto-fill, 60px)
