---
import ConsultancyLayout from '@/layouts/ConsultancyLayout.astro'
---

<ConsultancyLayout
	name="Эдуард Аксамитов"
	title="Доступен для консультации"
	description="Помогаю запускать, улучшать и обновлять продукты и сервисы. Быстро разбираться в вопросах и решать проблемы."
>
	<Fragment slot="about">
		<p class="preview">
			Помогаю запускать, улучшать и обновлять продукты и сервисы.
			Быстро разбираться в вопросах и решать проблемы.
		</p>
		<p class="article__enumeration">
			<strong>О запуске и обновлении:</strong>
			<span>процессах, этапах, специалистах, найме, бюджете и понимании задачи. Расскажу что и как делать, как сделать и сколько понадобится времени и денег на обновление старого или запуск нового продукта.</span>
		</p>
		<p class="article__enumeration">
			<strong>О дизайн решениях:</strong>
			<span>понимании, принятии, оценке и критике, метафоре, графике, типографике, паттернах, сложных сценариях, пользовательском опыте и крайних случаях. Помогу найти и решить проблемы в дизайне.</span>
		</p>
		<p class="article__enumeration">
			<strong>Об управлении:</strong>
			<span>задачах бизнеса, руководстве, построении процессов, балансе дизайна и разработки, коммуникациях и отношениях. Помогу исправить или улучшить процессы в дизайне и разработке.</span>
		</p>
	</Fragment>
	<Fragment slot="questions">
		<dl>
			<dt>В каком формате проходит встреча?</dt>
			<dd>
				<p>Один на один в Дискорде или любом другом сервисе видеоконференций.</p>
				<p>Во время консультации не рисую и не пишу текст или код. Встречу не записываю и не конспектирую.</p>
				<p>Записывать можно, но нельзя публиковать.</p>
			</dd>
			<dt>Как успеть все обсудить и ничего не упустить?</dt>
			<dd>
				<p>Перед консультацией я попрошу пройти опрос или письменно ответить на несколько вопросов.</p>
			</dd>
			<dt>Сколько нужно консультаций?</dt>
			<dd>
				<p>Зависит от задачи. Одна встреча, чтобы быстро разобраться в вопросе. Две, чтобы сформулировать задачу и запустить процессы. Три или четыре, чтобы создать и выпустить новый продукт. Раз в неделю, для интенсивной работы на длинных дистанциях.</p>
				<p>Если нужно больше, можно нанять меня как временного Арт-директора.</p>
			</dd>
			<dt>Как и когда можно начать?</dt>
			<dd>
				<p>Написать мне на <e-link-external href="mailto:e@euaaaio.ru?subject=Консультация">почту</e-link-external> или в <e-link-external href="https://t.me/euaaaio">Телеграм</e-link-external>, чтобы ответить на уточняющие вопросы, выбрать дату и время, получить счет и прислать предоплату.</p>
				<p>Обычно запись на неделю вперед, а предоплата 100%.</p>
			</dd>
		</dl>
	</Fragment>
	<Fragment slot="pricing">
		<dl>
			<div>
				<dt>20 000₽</dt>
				<dd>за двухчасовую консультацию</dd>
			</div>
			<div>
				<dt>≥ 120 000₽</dt>
				<dd>чтобы нанять меня <br>как временного арт-директора</dd>
			</div>
		</dl>
	</Fragment>
</ConsultancyLayout>
