---
interface Props {
	href: string
}

const { href } = Astro.props
---

<a
	class="link-underlined"
	href={href}
	rel="noopener"
	target="_blank"
>
	<slot />
</a>

<style lang="sass">
.link-underlined
	text-decoration: underline
	text-decoration-color: var(--p-color-border)
</style>
