---
import '@/styles/index.sass'
import Background from '@/components/Background.astro'

interface Props {
	title: string
	description: string
}

const { title, description } = Astro.props
---

<!doctype html>
<html lang={Astro.currentLocale}>
	<head>
		<meta charset="utf8" />
		<meta name="viewport" content="width=device-width" />

		<link href="/favicon.ico" rel="icon" />
		<link href="/favicon.svg" rel="icon" type="image/svg+xml" />
		<link href="/manifest.webmanifest" rel="manifest" />
		<link href="/sitemap-index.xml" rel="sitemap" />
		<meta name="theme-color" content="#000000" media="(prefers-color-scheme: dark)" />
		<meta name="theme-color" content="#ffffff" media="(prefers-color-scheme: light)" />

		<title>{ title }</title>

		<meta name="description" content={description} />
		<meta name="generator" content={Astro.generator} />
	</head>
	<body>
		<slot />
		<Background />
	</body>
</html>
